*{
    margin: 0;
    padding: 0;
}

body{
 font-size: 15 px;   
 background-image:
 url("./images/bg-pattern-top-desktop.svg") ,
 url("./images/bg-pattern-bottom-desktop.svg") ;
 background-repeat: no-repeat;
 background-position:top left,bottom right ;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "header . header2"
    "recommend1 recommend2 recommend3";
    column-gap: 25px;
    place-items: center;
    align-content: space-between;
    margin: 95px 130px;
    height: calc(100vh - 190px);  

}
.third-cell,.forth-cell,.fifth-cell{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(300, 43%, 22%);
    color: snow;
    height: 200px;
    border-radius: 7px;
    place-self: center;
    box-sizing: border-box;
    padding: 30px;
}
.first-cell{
    grid-area: header;
    display: flex;
    flex-direction: column;
}
.second-cell{
    grid-area: header2;
    width: 100%;
}
.third-cell{ 
    grid-area: recommend1;
    transform: translateY(-30px);
}
.forth-cell{
    grid-area: recommend2;
    transform: translateY(-15px);
}
.fifth-cell{
    grid-area: recommend3;
}
img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
}
.customer{
    display: flex;
    justify-content: start;
}
.name{
    padding-left: 22px;
}
.verify-statement{
    color: hsl(333, 80%, 67%);
}
.rated1,.rated2,.rated3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    margin-top: 15px;
    /* margin-right: 500px; */
    border-radius: 7px;
    height: 50px;
    width: 120%;
    transform: translateX(-65px);
}
.each-star{
    width: 15px;
    height: 15px;
}
.rated1{
    transform: translateX(-155px);
}
.rated2{
    transform: translateX(-110px);
}
h1{
    font-size: 3rem;
    color: hsl(300, 43%, 22%);
    line-height: 3rem;
}
#statement{
    margin-top: 20px;
    color: hsl(303, 10%, 53%);
}
.comment{
    color: hsl(300, 24%, 96%);
}
.rated-statement{
    color: hsl(300, 43%, 22%) ;
    font-weight: bold;
}